﻿html  { box-sizing: border-box;}
body { margin: 0 auto;
        width: 100%;
        max-width: 1280px;}
img { max-width: 100% }
a { text-decoration: none; }
*,*:before,*:after { box-sizing: inherit; }

.header {
    padding-bottom: 15px;
}
.menu-list {
    padding: 0;
    margin: 0 160px;
    list-style: none;
}
.menu-items {
    display: inline-block;
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 19px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.8;
}
.menu-items.active a {
    color: #f00;
    text-decoration: none;
}
.header-logo {
    display: block;
    position: absolute;
}
.main-container {
    padding: 30px 50px 0px 67px;
}

.lead-section  {
    text-align: center;
    padding-bottom: 10px;
    padding-bottom: 100px;
    text-align: center;
}
.section-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
    color: #373737;
    font-weight: bold;
    text-align: center;
    padding-bottom: 38px;
}

.content-text  {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.button {
    margin-top: 40px;
    padding: 17px 43px;
    background: #FF0000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    border-radius: 4px;
    border: 0;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.button:hover {
    background-color: #f1ad1d;
}
.footer-container {
    padding: 0 70px 29px 713px;
    color: #373737;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}