/*font-family: 'Roboto Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;*/

.container {
    width: 1300px;
    margin: 0 auto;
}
.wrapper {
    background-color: #131212;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 120px;
    background: url(../images/header-bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
.header-contacts {
    display: flex;
    align-items: center;
}
.tel-number-orange {
    font-size: 20px;
    color: #E4B564;
}
.tel-number-orange span {
    color: white;
    margin-left: 5px;
}
.primary-button {
    border: 1px solid #E4B564;
    padding: 19px 26px;
    margin-left: 39px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.callback {
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    margin-left: 10px;
}
.main-container {
    font-size: 700;
    font-family: 'Montserrat', sans-serif;
}
.main-container-title {
    font-size: 50px;
    color: white;
    margin-top: 40px;
}
.main-container-subtitle {
    font-size: 20px;
    color: white;
    margin-top: 40px;
}
.grid-first {
    display: grid;
    margin-top: 41px;
    grid-auto-columns: 1fr 1fr 1fr;
    height: 961px;
    grid-gap: 25px;
    grid-template-areas:
"item1 item1 item2 item2 item3 item3"
"item4 item4 item4 item5 item5 item5";
}
.grid-first p {
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 220px;
    font-size: 20px;
    color: white;
    line-height: 28px;
}
.item1 {
    grid-area: item1;
    background-color: #634F2C;
}
.item2 {
    text-align: center;
    background-color: #B4A385;
    grid-area: item2;
}
.item3 {
    background-color: #E4B564;
    grid-area: item3;
}
.item4 {
    background-color: #635A4A;
    grid-area: item4;
}
.item5 {
    background-color: #B08C4D;
    grid-area: item5;
}
.banner-parallax {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 120px;
    background: url(../images/parallax-bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 700;
    font-family: 'Montserrat', sans-serif;
}
.grid-second {
    display: grid;
    height: 883px;
    grid-gap: 25px;
    grid-template-areas:
"item1 item2 item3"
"item4 item2 item6"
"item4 item5 item6"
"item4 item5 item7";
}
.technology-1{
    background-color: #0E0E0E;
    grid-area: item1;
}
.technology-2{
    background-color: #242424;
    grid-area: item2;
}
.technology-3{
    background-color: #1F1F1F;
    grid-area: item3;
}
.technology-4{
    background-color: #1F1F1F;
    grid-area: item4;
}
.technology-5{
    background-color: #E4B564;
    grid-area: item5;
}
.technology-6{
    background-color: #0E0E0E;
    grid-area: item6;
}
.technology-7{
    background-color: #0A0909;
    grid-area: item7;
}
.grid-second p {
    display: grid;
    flex-direction: column;
    color: white;
    font-size: 20px;
    line-height: 28px;
    padding: 44px 51px;
}
.grid-second span {
    font-weight: 700;
}
.header-third {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 272px;
}
.header-third a {
    border: 1px solid #E4B564;
    padding: 10px 40px;
    color: #E4B564;
}
.grid-third {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    height: 782px;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item5 item6";
}
.progect-1 {
    background-color: #634F2C;
    grid-area: item1;
}
.progect-2 {
    background-color: #E8D2AB;
    grid-area: item2;
}
.progect-3 {
    background-color: #E4B564;
    grid-area: item3;
}
.progect-4 {
    background-color: #635A4A;
    grid-area: item4;
}
.progect-5 {
    background-color: #B08C4D;
    grid-area: item5;
}
.progect-6 {
    background-color: #634F2C;
    grid-area: item6;
}
.grid-third li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid-third p {
    display: grid;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}
.grid-third span {
    font-weight: 600; 
}
.footer {
    height: 238px;
    background-color: #1b1919;
}

    
        
    





