
a { text-decoration: none; }

.header {
    background: #3b3838;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header ul {
    display: flex;
    justify-content: space-between;
    width: 722px;
}
.navbar-left-logo {
    margin-left: 29px;
    display: flex;
    align-items: center;
}
.navbar-left-logo span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    padding-left: 30px;
    color: white;
    
}

.menu-item a { 
    padding:  20px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}
.menu-item a:hover {
    color: #14B9D5;
}

.btn-search {
    background: #000000;
    border: none;
    padding: 26px;
    cursor: pointer;
}

.banner {
    background: url(../images/header-background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 164px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 74px;
}
.banner div {
    margin-top: 44px;
}
.main-btn {
    font-size: 13px;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.btn-green {
    background-color: #89CA62;
    padding: 12px 15px;
}
.btn-blue {
    background-color: #14B9D5;
    padding: 12px 15px;
    margin-left: 20px;
}
.banner-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 37px;
    text-transform: uppercase;
}
.color-cyan {
    color: #18B4CF;
}
.color-white {
    color: white;
}
.container-popular-posts {
    display: flex;
    flex-direction: column;
    padding-top: 49px;
    padding-bottom: 72px;
    align-items: center;
    background-color: #f2f2f2;
}
.popular-posts-list {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    flex-wrap: wrap;
    height: 950px;
    width: 1170px;
    align-items: center;
}
.popular-posts-item {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

}
.popular-posts-item p {
    padding-top: 20px;
    padding: 22px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353a3d;
}
.main-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 106px;
    padding-bottom: 191px;
    background: url(../images/parallax-bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-logo-on-banner {
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    grid-gap: 58px;
    align-items: center;
    position: relative;
    margin-top: 196px;
}
.grid-logo-on-banner::before {
    content: '';
    width: 60px;
    height: 3px;
    position: absolute;
    background-color: #18B4CF;
    top: -106px;
    left: calc(50% - 30px);
}
.line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 49px;
}
.grid-line {
    margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(7, 271px);
}
.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 77px;
}
.grid-net {
    width: 1170px;
    margin-top: 51px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    row-gap: 45px;
    column-gap: 30px;
    grid-template-areas: 
        'item1 item1 item1 item2'
        'item3 item3 item4 item4'
        'item5 item5 item6 item6'
        'item7 item8 item8 item8'
    ;
}
.grid-net-item h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.grid-net-item {
    background-color: #f9f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-net-item div {
    padding-top: 14px;
    padding-right: 13px;
    padding-left: 14px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.grid-net-item p {
    text-align: right;
    margin-top: 15px;
}
.grid-net-item:nth-child(1) {
    width: 847px;
    grid-area: item1;
    flex-direction: row;
}
.grid-net-item:nth-child(2) {
    width: 277px;
    margin-left: -20px;
    grid-area: item2;
}
.grid-net-item:nth-child(3) {
    width: 554px;
    grid-area: item3;
}
.grid-net-item:nth-child(4) {
    width: 554px;
    grid-area: item4;
}
.grid-net-item:nth-child(5) {
    width: 554px;
    grid-area: item5;
}
.grid-net-item:nth-child(6) {
    width: 554px;
    grid-area: item6;
}
.grid-net-item:nth-child(7) {
    grid-area: item7;
}
.grid-net-item:nth-child(8) {
    width: 857px;
    grid-area: item8;
    flex-direction: row;
}
.grid-net-item:nth-child(2) h4 {
    margin-top: 14px;
}
.grid-net-item:nth-child(7) h4 {
    margin-top: 5px;
}
.grid-net-item:nth-child(1) div, .grid-net-item:nth-child(8) div {
    padding-right: 24px;
}
.footer-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: #000000;
}
.footer-container p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFFFFF;
}
.grid-footer {
    display: grid;
    grid-template-columns: 38px 64px;
    grid-gap: 3px;
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 559px;
}



