@import "mixins";
@import 'variables';


.fork-app{
    background-image: url('../img/headerBackground.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    background-size: cover;
    &__header{
        display: flex;
        justify-content: space-between;
        background: #27262A;
    }
    &__main-text{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat';
        font-style: normal;
    }
    &__button-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Montserrat';
        font-style: normal;
        left: 50%;
        transform: translate(-50%,0);
        position: absolute;
    }
}

.header{

    &__logo{
        display: inline-flex;
        align-items: center;
        gap:17px;
    }
    &__logo-img-hide{
        display: none;
        position: absolute;
    }
    &__logo-text{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        text-transform: uppercase;
        color: $mainColor;
    }
    &__logo:hover &__logo-img-hide{
        display: block;
    }
    &__logo:hover &__logo-text{
        color: #FFFFFF;
    }

    &__nav{
        display: flex;
        justify-content: right;
    }
    &__button{
        width: 145px;
        height: 37px;
        color: #FFFFFF;
        background: $mainColor;
        border-radius: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;  
        border: 1px solid $mainColor;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__button:hover{
        background: #FFFFFF;
        color: $mainColor;
    }
}


.nav{
    &__list{
        display: flex;
        align-items: center;
        gap:48px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 15px;
    }
    &__item{
        color: $mainColor;
    }
    &__item:hover {
        color: #FFFFFF;
    }
}

.main-text{
    text-align: center;
    &__title{
        margin-top: 116px;
        font-weight: 700;
        font-size: 82px;
        line-height: 82px;
        color: #FFFFFF;
    }
    &__sub{
        font-family: 'Lato';
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        color: $mainColor;
        margin: 19px 0;
    }
    &__opinion{
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #848E97;
    }
}



.button-section{
    position: absolute;
    top: 767px;
    &__button{
        width: 390px;
        height: 62px;
        background: $mainColor;
        border-radius: 40px;
        font-weight: 700;
        font-size: 21px;
        line-height: 22px;
        color: #FFFFFF;
        cursor: pointer;
        border: 2px solid $mainColor;
    }
    &__button:hover{
        background: #FFFFFF;
        color: $mainColor;
    }
    &__text{
        margin-top: 19px;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #848E97;
    }
}



@include for-phone-only{
    .fork-app.container{
        padding: 0;
    }
    .fork-app{    
        height: 718px;
    }
    .header{
    background: #27262A;
    height: 103px;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    &__logo-text{
        display: none;
    }
    &__nav{
        display: none;
    }
    &__link-button{
        margin-top: 0px;
    }
   }
   .button-section{
        top: 696px;
        &__button{
            width: 290px;
            height: 45px;
    }
    }
   .mobile-menu{
       &__open{
        position: relative;
        display: none;
   }
       &__close{
            position: relative;
            display: none;
            width: 26px;
            height: 28px;
       }
       &__open.active{
        display: block;
   }
       &__close.active{
            height: 30px;
            display: block;
       }
   }
   .burger-menu{
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
    top: 102px;
    z-index: 10;
    width: 292px;
    &__item{
        font-weight: 400;
        font-size: 26px;
        line-height: 26px;
        width: 292px;
        height: 88px;
        color: #FFFFFF;
        background-color: #333333;
        align-items: center;
        border-bottom: solid 3px #3B3B3B;
        display: flex;
        box-sizing: border-box;
        cursor: pointer;
    }
    &__item-hover{
        width: 8px;
        height: 53px;
    }
    &__item:hover &__item-hover{
        background-color: $mainColor;
    }
    &__item:hover{
        color: $mainColor;
    }
    &__item:active:focus{
        color: $mainColor;
    }
    &__item:active:focus &__item-hover{
        background-color: $mainColor;
    }
    &__item-text{
        margin-left:35px;
    }
    &__item.empty{
        height: 14px;
    }
    }
   .main-text{
    &__title{
        margin-top: 44px;
        font-size: 48px;
        line-height: 48px;
    }
    &__sub{
        font-size: 18px;
        line-height: 24px;
        margin: 19px 0;
    }
    &__opinion{
        font-size: 14px;
        line-height: 14px;
    }
}
}

@include for-tablet-only{
    .fork-app.container{
        padding: 0;
    }
    .header{
        height: 118px;
        background-size: cover;
        padding-left: 10px;
        padding-right: 10px;
        display: grid;

       &__logo{
        grid-row-start:  1;
       }
       &__nav{
        grid-column-start: 1;
        grid-column-end: 3 ;
           display: flex;
           justify-content: center;
       }
       &__link-button{
        grid-row-start:  1;
        grid-column-start:  2;
        display: flex;
        align-items: center;
        justify-content: right;
       }
    }
    .nav__list{
        gap: 48px;
    }
    .mobile-menu{
        display: none;
    }
    .main-text{
        &__title{
            margin-top: 58px;
            font-size: 72px;
            line-height: 72px;
        }
        &__sub{
            font-size: 24px;
            line-height: 24px;
            margin: 19px 0;
        }
        &__opinion{
            font-size: 14px;
            line-height: 14px;
        }

}}

@include for-desktop-only{
        .header{
            padding-top: 28px;
            background: none;
            align-items: center;
            &__logo{
                top: 16px;
            }
        }
        .mobile-menu{
            display: none;
        }

    }
