@mixin button($bgc,$borc,$fontColor,$bgh,$fontColorH){
    border-radius: 25px;
    border: 1px solid transparent;
    outline: none;
    transition: color 0.3s linear;
    color: $fontColor;
    background-color: $bgc;
    cursor: pointer;
    &:hover{
      border-color: $borc;
      background-color: $bgh;
      color: $fontColorH;
    }
  }


@mixin for-desktop-only {
    @media screen and (min-width: 993px) {
        @content;
    }
}

@mixin for-tablet-only {
    @media screen and (max-width: 992px) and (min-width: 481px) {
        @content;
    }
}

@mixin for-phone-only {
    @media screen and (max-width: 480px) and (min-width: 320px) {
        @content;
    }
}