@import 'reset';
@import "mixins";
@import 'peopleAreTalking';
@import 'forkApp';
@import 'variables';



  .body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
  }

  .container{
    min-width: $minWidth;
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .rev-editor {
    margin-top: 112px;
    text-align: center;
  
    &__title {
      margin-bottom: 23px;
      font-family: 'Montserrat', sans-serif;
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
      color: #635c73;
      line-height: 1.5;
    }
  
    &__caption {
        font-family: 'Lato', sans-serif;
      padding: 0 15px;
      text-align: center;
      font-size: 14px;
      color: #323232;
    }
  
    &__actions {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 34px 0 68px;
    }
  
    &__actions-item {
      display: inline-block;
      margin: 0 5px 20px;
      border: 1px solid rgba(27, 31, 35, .2);
      border-radius: 3px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: #24292e;
      user-select: none;
    }
  
    &__actions-btn {
      display: inline-block;
      padding: 3px 10px;
      background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
      border-right: 1px solid rgba(27, 31, 35, .2);
      cursor: pointer;
    }
  
    &__actions-item:nth-child(1) &__actions-btn:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: currentcolor;
      vertical-align: -2px;
    }
  
    &__actions-btn:hover {
      box-shadow: inset 0 25px 0 0 rgba(0, 0, 0, .03);
    }
  
    &__actions-btn:active {
      box-shadow: inset 0 25px 0 0 rgba(0, 0, 0, .03),
      inset 0 1px 5px 0 rgba(0, 0, 0, 0.4);
    }
  
    &__icon {
      vertical-align: -3px;
    }
  
    &__action-count {
      margin: 0 5px;
    }
  }
  
  .you-get {
    padding: 34px 25px 0;
    background-color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    //text-align: center;
  
    &__title {
      font-size: 30px;
      font-weight: 700;
      color: #8d81ac;
    }
  
    &__title:before {content: '<'}
    &__title:after {content: '>'}
  
    &__subtitle {
      margin-bottom: 18px;
      font-size: 16px;
      color: #323232;
    }
  
    &__icon {
      margin: 35px 0 25px;
    }
  
    &__desc {
        font-family: 'Lato', sans-serif;
      font-size: 14px;
      color: #848e97;
      line-height: 1.3;
    }
  
    &__img {
      margin: 57px 0 6px -22px;
      height: 381px;
      padding-bottom: 34px;
    }
  }

  .pricing {
    padding-top: 60px;
    padding-bottom: 79px;
    background: url("../img/pricing-bg.png") #4b3b4e ;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
  
    &__title {
      font-size: 27px;
      font-weight: 700;
      margin-bottom: 53px;
    }
  
    &__variant {
      display: inline-block;
      width: 257px;
      padding-bottom: 38px;
      margin-bottom: 14px;
      background-color: rgba(255, 255, 255, .2);
    }
  
    &__variant-name {
      padding-top: 46px;
      padding-bottom: 34px;
      margin-bottom: 32px;
      background-color: rgba(255, 255, 255, .05);
      text-transform: uppercase;
      font-size: 20px;
    }
  
    &__price {
      font-size: 56px;
      font-weight: 700;
    }
  
    &__price:before { content: '\0024'; }
    &__price:after {
      content: 'per month';
      display: block;
      margin: 24px 39px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      opacity: .3;
    }
  
    &__variant-desc {
      height: 50px;
      font-size: 16px;
      padding: 0 22px;
      margin-bottom: 68px;
      line-height: 1.2;
    }
  
    &__variant-desc:before {
      content: '';
      display: block;
      width: 60px;
      height: 5px;
      margin: 0 auto 31px;
      background-color: #8d81ac;
    }
  
    &__variant-btn {
      display: inline-block;
      border-radius: 25px;
      padding: 16px 38px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      @include button(rgba(255, 255, 255, .2),none,#fff,rgba(255, 255, 255, .4), inherit)
    }
  
    &__variant.active {
      margin: 40px 0;
      background-color: rgba(0, 0, 0, .15);
      transform: scale(1.1);
  
      .pricing__variant-name {
        background-color: rgba(0, 0, 0, .05);
        color: rgba(255, 255, 255, .8);
      }
    }
  }
@include for-phone-only {
    .you-get {
      text-align: center;
      &__img {
        width: -webkit-fill-available;
        margin-top: 64px;
      }
    }
} 

@include for-tablet-only {
    .rev-editor {
        &__title {
          font-size: 34px;
          margin-bottom: 38px;
        }
    
        &__caption {
          padding: 0 47px;
          font-size: 20px;
          line-height: 1.5;
        }
    
        &__actions {
          margin: 36px 0 98px;
        }
      }
    
      .you-get {
        padding: 54px 30px 23px;
        text-align: left;
    
        &__title {
          margin-bottom: 60px;
          font-size: 41px;
          text-align: center;
        }
    
        &__icon-wrapper {
          display: inline-block;
          width: 24%;
          text-align: center;
          vertical-align: top;
        }
    
        &__icon {
          margin: 0 0 60px;
        }
    
        &__text {
          text-align: left;
          display: inline-block;
          width: 75%;
        }
        &__img-wrapper {
          display: flex;
          justify-content: flex-end;
        }

        &__img {
          height: initial;
          margin: 0;
        }
      }
      .pricing {
        display: flex;
        padding-left: 4vw;
        padding-right: 4vw;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    
        &__title {
          width: 100%;
        }
    
        &__variant {
          width: 38%;
          margin: 0 23px 92px;
        }
    
        &__variant.active {
          transform: scale(1.2);
          margin: 0 23px 92px;
        }    
    }    
}

@include for-desktop-only {
    .container {
        margin-left: -1;
        margin-right: -1;
        box-sizing: content-box;
        padding-left: calc((100% - 1200px)/2);
        padding-right: calc((100% - 1200px)/2);
      }
      .rev-editor {
        &__title {
          font-size: 41px;
        }
  
        &__caption {
          font-size: 23px;
        }
      }
  
      .you-get {
        display: grid;
        grid-template-columns: 48% 52%;
        grid-auto-rows: min-content;
        padding-top: 94px;
        padding-right: -1;
  
        &__title {
          grid-column: 2 / 3;
          text-align: left;
          margin-left: 24px;
        }
  
        &__items {
          grid-row: 1 / 3;
        }

        &__item {
            display: flex;
            align-items: flex-end;
        }
  
        &__icon-wrapper { width: 36%; }
        &__text {
          width: 62%;
          margin-bottom: 10px;
        }
  
        &__img-wrapper {
          overflow: hidden;
        }
        &__img {
          height: auto;
          margin: 0;
        }
      }
      .pricing {
        justify-content: center;
  
        &__title {
          margin-bottom: 121px;
        }
  
        &__variant {
          width: 19%;
          margin: 0 7px;
        }
  
        &__variant.active {
          margin: 0 25px;
        }
      }
}










  