﻿html { box-sizing: border-box;}
body { width: 1280px; 
       margin: 0 auto;
       font-family: 'Roboto', sans-serif;
       font-style: normal;
       font-weight: 400; }
img {  max-width: 320px }
a {    text-decoration: none; }
*,*:before,*:after { box-sizing: inherit; }

.container {
    padding-top: 63px;
}
.container .logo {
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}
.container .logo a {
    color: #000;
}
.container .colortext {
    color: #4bcaff;
}
.container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
    line-height: 28px;
    padding: 38px 0;
}
.top-menu .menu-list .menu-item {
    white-space: nowrap;
    padding: 26px 38px 19px;
    border-right: 1px solid #FFF;
    background: #35444f;
}
.top-menu .menu-list .menu-item:hover {
    background: #222f3a;
    border-top: 1px solid #4bcaff;
}
.top-menu .menu-list .menu-item a {
    text-decoration: none;
    color: #FFF;
}
.top-menu .menu-list .menu-item-side {
    width: 50%;
    padding: 0 38px;
    border-right: 1px solid #FFF;
    background: #35444f;
}
.main-container {
    display: flex;    
}
.menu-bar {
    width: 344px;
}
.aside-container ul {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    font-size: 27px;
    line-height: 27px;
    padding-left: 0px;
}
.aside-container ul a {
    color: #485863;
}
.aside-container ul a:hover {
    color: #000;
}
.aside-menu .menu-bar .menu-items {
    white-space: nowrap;
    padding: 26px 38px 19px;
}
.aside-menu .menu-bar {
    border: 1px solid #726f6f;
}
.aside-menu .menu-bar .menu-items:hover {
    background: #dbdbdb;
    padding-left: 70px;
}
.main-container .section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 52px;
}
.img-ramda {
    border: 1px solid #726f6f;
    padding: 75px 268px 73px 297px;
}
.img-hover:hover {
    transform: scale(1.1);
}
.text-content {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    padding-top: 40px;
}
.text-content p {
    margin-top: 35px;
}
.footer-container {
    display: flex;
    background: #909396;
}
.footer-container ul  {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    line-height: 28px;
}
.footer-menu .buttom-list .menu-buttom {
    padding: 26px 0 19px 40px;
}
.footer-menu .buttom-list .menu-buttom  a,p {
    text-decoration: none;
    color: #0c1927;
}
.footer-menu .buttom-list .menu-buttom a:hover {
    color: #4bcaff;
    border-bottom: 1px solid #4bcaff;
    padding-bottom: 13px;
}
.footer-container p {
    padding-left: 135px;
}
.copyright {
    font-size: 24px;
    padding: 29px;
}