<section class="pricing container">
    <h2 class="pricing__title">Fork Subscription Pricing</h2>
    <div class="pricing__variant">
        <h3 class="pricing__variant-name">Students</h3>
        <span class="pricing__price">29</span>
        <p class="pricing__variant-desc">Personal License</p>
        <button class="pricing__variant-btn">purchase</button>
    </div>

    <div class="pricing__variant">
        <h3 class="pricing__variant-name">professional</h3>
        <span class="pricing__price">59</span>
        <p class="pricing__variant-desc">Professional License Email Support</p>
        <button class="pricing__variant-btn">purchase</button>
    </div>

    <div class="pricing__variant active">
        <h3 class="pricing__variant-name">agency</h3>
        <span class="pricing__price">99</span>
        <p class="pricing__variant-desc">1-12 Team Members Phone Support</p>
        <button class="pricing__variant-btn">purchase</button>
    </div>

    <div class="pricing__variant">
        <h3 class="pricing__variant-name">enterprise</h3>
        <span class="pricing__price">159</span>
        <p class="pricing__variant-desc">Unlimited Team Members 24/ 7 Phone Support</p>
        <button class="pricing__variant-btn">purchase</button>
    </div>
</section>