<div class="fork-app container">
    <header class="fork-app__header header">
        <a href="#" class="header__logo">
            <img src="@img/Logo.svg" alt="Logo" class="header__logo-img-def">
            <img src="@img/logo-white.svg" alt="Logo" class="header__logo-img-hide">
            <p class="header__logo-text">ForkIO</p>
        </a>
            <nav class="header__nav nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#" class="nav__link">Overview</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">About Fork</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Buying Options</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Support</a></li>
                </ul>
            </nav>
            <div class="header__link-button"><button class="header__button">Buy Now</button></div>

            <div class="header__mobile-menu mobile-menu">
                <div class="mobile-menu__open active">
                            <svg width="26" height="25" viewBox="0 0 26 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect y="18" width="26" height="3" rx="1.5" fill="white"/>
                                <rect y="9" width="26" height="3" rx="1.5" fill="white"/>
                                <rect x="11" width="15" height="3" rx="1.5" fill="white"/>
                                </svg>                                                    
                </div>
                <div class="mobile-menu__close">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L23.5 24" stroke="white" stroke-width="2"/>
                        <path d="M1 23L24 1" stroke="white" stroke-width="2"/>
                        </svg>                        
                </div>
            </div>
    </header>
    <section class="fork-app__main-text main-text">
        <h1 class="main-text__title">Fork App</h1>
        <p class="main-text__sub">A real gamechanger in the world of web development</p>
        <p class="main-text__opinion">v. 2.8 For Mac and Windows</p>
    </section>
    <div class="fork-app__button-section button-section">
        <button class="button-section__button">Download For Free Now</button>
        <p class="button-section__text">Unlimited 30-Days Trial Period</p>
    </div>
</div>


