<section class="you-get container">
    <h2 class="you-get__title">Here is what you get</h2>
    <div class="you-get__items">
        <div class="you-get__item">
            <div class="you-get__icon-wrapper">
                <img class="you-get__icon" src="@img/web-page.png" alt="'Created to Make The Web Better' icon">
            </div>
            <div class="you-get__text">
                <h3 class="you-get__subtitle">Created to Make The Web Better</h3>
                <p class="you-get__desc">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                </p>
            </div>
        </div>
    
        <div class="you-get__item">
            <div class="you-get__icon-wrapper">
                <img class="you-get__icon" src="@img/speedometer.png" alt="'Incredibly Powerful Tool' icon">
            </div>
            <div class="you-get__text">
                <h3 class="you-get__subtitle">Incredibly Powerful Tool</h3>
                <p class="you-get__desc">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                </p>
            </div>
        </div>

        <div class="you-get__item">
            <div class="you-get__icon-wrapper">
                <img class="you-get__icon" src="@img/bottle.png" alt="'Experimental Stuff' icon">
            </div>
            <div class="you-get__text">
                <h3 class="you-get__subtitle">Experimental Stuff</h3>
                <p class="you-get__desc">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                </p>
            </div>
        </div>
    
        <div class="you-get__item">
            <div class="you-get__icon-wrapper">
                <img class="you-get__icon" src="@img/clock.png" alt="'Created to Make The Web Better' icon">
            </div>
            <div class="you-get__text">
                <h3 class="you-get__subtitle">Created to Make The Web Better</h3>
                <p class="you-get__desc">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                </p>
            </div>
        </div>
    </div>
    <div class="you-get__img-wrapper">
        
        <img class="you-get__img" src="@img/code.png" alt="Code image">
    </div>
</section>