a { text-decoration: none; }
input { padding: 0 0; }
button { border: none;
    border-radius: 4px;
    padding: 0 0; }
input:focus {
    outline: none;
}
.container {
    background-image: url(../images/Фон\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu';
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-logo-text {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-left: 79px;
    margin-right: 704px;
    color: #FFFFFF;
}
.header-logo-text:hover {
    opacity: 0.4;
    color: #3CB878;
}
.logo-image {
    margin-right: 25px;
}
.logo-image svg {
    fill: white;
}

.logo-image svg:hover {
    opacity: 0.4;
    fill: #3CB878;
}
.header-text {
    position: relative;
    margin-left: 57px;
}
.header-text span, .header-text a {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #FFFFFF;
}
.header-text:hover span, .header-text:hover a {
    opacity: 0.4;
}
.header-text span:first-child {
    margin-left: 25px;
}
.header-text a:hover {
    opacity: 0.4;
    color: #3CB878;
}
.header-text::before {
    content: '';
    width: 1px;
    height: 19px;
    position: absolute;
    left: -27px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
}
.main-container {
    display: flex;
    justify-content: space-around;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 444px;
    margin-top: 54px;
    padding: 31px 0 38px 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.header-form {
    width: 444px;
    display: flex;
    align-items: flex-end;
    font-weight: 400;
    font-style: normal;
}
.header-form h2 {
    font-size: 20px;
    line-height: 20px;
    margin-left: 40px;
    color: #434343;
}
.header-form a {
    font-size: 14px;
    line-height: 14px;
    margin-left: 221px;
    color: #3CB878;
}
.header-form a:hover {
    text-decoration: underline;
}
.header-form::before {
    display: flex;
    content: '';
    width: 18px;
    height: 18px;
    background: #3CB878;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 32px;
    box-shadow: none;
}
.buttons svg {
    display: flex;
    align-items: center;
    fill: white;
} 
.buttons p::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    margin-left: -18px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.button-facebook {
    display: flex;
    margin-right: 16px;
    background: #305DB8;
}
.button-facebook svg {
    margin: 11px 38px 11px 16px;
}
.button-facebook p {
    padding: 16px 20px 16px 0;
}
.button-google {
    display: flex;
    background: #DF4A32;
}
.button-google svg {
    margin: 14px 38px 13px 10px;
}
.button-google p {
    padding: 16px 26px 16px 0;
}
.buttons p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.before-after-lines {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}
.before-after-lines::before {
    content: '';
    width: 152px;
    border: 1px solid #F2F2F2;
}
.before-after-lines::after {
    content: '';
    width: 152px;
    border: 1px solid #F2F2F2;
}
input {
    width: 324px;
    height: 44px;
    left: 60px;
    top: 225px;
    margin-bottom: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-indent: 20px;
    display: flex;
    align-items: center;
    color: #BEBEBE;
}
input:focus {
    height: 46px;
    top: 164px;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.checkbox {
    display: flex;

}
.checkbox input {
    display: none;
}    
.custom-checkbox+label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 515px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}
.custom-checkbox:checked+label::before {
    position: absolute;
    background: no-repeat;
    background-image: url(../images/Vector\ 1.png);
    
}
.checkbox a {
    color: #3CB878;
}
.checkbox a:hover {
    text-decoration: underline;
}
.button-create-account {
    width: 324px;
    height: 46px;
    left: 60px;
    top: 500px;
    margin-top: 20px;
    background: #01813F;
    border-radius: 4px;
}
.button-create-account p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}