a {
  text-decoration: none;
}
.body,
html {
  margin: 0 auto;
}
a:-webkit-any-link,
button {
  cursor: pointer;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.progect-case {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  font-size: 14px;
}
.header {
  background: url(../img/section-1\(header\).jpg);
  padding-bottom: 245px;
}
.paralax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.header-navbar {
  width: 100%;
  height: 120px;
  background-color: rgba(94, 93, 88, 0.6);
}
.container {
  margin: 0 auto;
  width: 1160px;
  text-align: center;
}
.header-navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.header-logo-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 40px;
}
.logo-navbar {
  background: url(../img/Polygon\ 1\ 1.svg) no-repeat;
  box-sizing: border-box;
  padding-top: 13px;
  height: 67px;
  width: 58px;
  font-size: 40px;
  font-weight: 700;
}
.logo-text {
  padding-left: 8px;
  font-size: 25px;
}
.color-logo-text {
  font-weight: 700;
  color: #18cfab;
}
.navbar-menu-link {
  margin-right: 17px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff90;
}
.navbar-menu-link:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}

.navbar-icon-search {
  color: #ffffff90;
  font-size: 18px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}
.navbar-icon-search::before {
  content: "\f002";
}
.navbar-icon-search:hover {
  color: #18cfab;
}
.container-header-slogan {
  margin: 0 auto;
  width: 1160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 245px;
  color: #ffffff;
  font-weight: 700;
}
.header-white-slogan {
  font-size: 35px;
  text-transform: uppercase;
}
.header-color-slogan {
  font-size: 35px;
  color: #18cfab;
  text-transform: uppercase;
}
.header-slogan2 {
  font-size: 78px;
  text-transform: uppercase;
}
.header-slogan3 {
  font-size: 35px;
  color: #ffffff90;
  font-weight: 300;
}
.header-buttons {
  display: flex;
  padding: 140px 365px 0;
  justify-content: space-evenly;
}
.button {
  border: 0;
  width: 165px;
  height: 60px;
  box-sizing: border-box;
  border-top: 4px solid #ffffff;
  border-radius: 5px;
  background-color: #18cfab;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
}
.button:hover {
  background-color: #00cbf6;
}
.image-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.image-section-block {
  display: flex;
  padding: 99px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #18cfab;
  border-top: 5px solid #ffffff;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}
.image-section-block:hover {
  background-color: #12ffd0;
}
.image-section-block:nth-child(2n-1) {
  color: #18cfab;
  background-color: #1c2a33;
}
.image-section-block:nth-child(2n-1):hover {
  background-color: #24323a;
}
.small-image {
  display: block;
  margin: 0 auto;
}
.small-image-text {
  padding-top: 55px;
}
.container-our-services {
  margin: 0 auto;
  width: 1160px;
  text-align: center;
  background-color: #ffffff;
}
.our-services-title {
  display: inline-block;
  padding: 80px 0 40px;
  color: #4e4e4e;
  font-size: 36px;
  text-transform: capitalize;
}
.title-underline {
  margin: 0 auto;
  height: 3px;
  width: 75px;
  border-top: 1px solid #18cfab;
  border-bottom: 1px solid #18cfab;
  transform: skewX(75deg);
}
#our-services-list {
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.our-services-list-item.active {
  position: relative;
  border: 1px solid #18cfab;
  background-color: #18cfab;
  color: #ffffff;
}
.our-services-list-item {
  padding: 30px 0;
  border: 1px solid #ebebeb;
  background-color: #f8fcfe;
  font-size: 16px;
  cursor: pointer;
}
.our-services-list-item.active:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  bottom: -20px;
  left: 86px;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
}
.our-service-content {
  padding-top: 25px;
  padding-bottom: 100px;
  height: 140px;
  box-sizing: content-box;
}
.our-service-content-item {
  display: none;
}
.our-service-content-item.active {
  display: flex;
}
.our-service-content-img {
  width: 195px;
  height: 140px;
  border: 1px solid #9e9e9450;
  margin-right: 20px;
}
.our-service-content-text {
  text-align: start;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  color: #777777;
}
.everything-ready {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 125px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/section-2.jpg);
  box-sizing: border-box;
  text-align: center;
}
.everything-ready.paralax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.everything-ready-title {
  font-size: 40px;
  color: #18cfab;
  font-weight: 700;
  text-transform: uppercase;
}
.everything-ready-subtitle {
  margin-bottom: 40px;
  padding: 35px 0;
  font-size: 16px;
  color: #bcbcbc;
}
.everything-ready-link {
  margin: 0 auto;
}
.our-amazing-work {
  padding: 100px 0;
  background-color: #f8fcfe;
  border-bottom: #e1e1e1;
  background: #e9edef;
}
.container {
  margin: 0 auto;
  width: 1160px;
  text-align: center;
}
.amazing-work-title {
  padding: 0 0 25px 0;
  font-size: 36px;
  text-transform: capitalize;
  color: #4e4e4e;
}
.amazing-work-menulist {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 50px auto;
  width: 610px;
  cursor: pointer;
}
.amazing-work-elem {
  position: relative;
  padding: 22px 0;
  border: 1px solid #ebebeb;
}
.amazing-work-elem.active {
  color: #18cfab;
}
.amazing-work-elem.active::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: -3px;
  left: 0;
  border: 2px solid #18cfab;
}

.amazing-work-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 70px;
}
.amazing-work-gallery-item {
  position: relative;
  box-sizing: border-box;
  height: 205px;
}
.amazing-work-gallery-img {
  width: 290px;
  height: 205px;
  object-fit: cover;
}
.img-item-wrapper {
  opacity: 0;
  width: 0;
  height: 0;
}
.img-item-icon {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border: 1px solid #18cfab;
  border-radius: 50%;
  color: #18cfab;
  background-color: #ffffff;
}
.img-item-icon.first {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}
.img-item-icon.first::before {
  content: "\f0c1";
}
.img-item-icon.first.search::before {
  content: "\f002";
}
.img-item-title {
  padding-top: 34px;
  color: #18cfab;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 700;
}
.img-item-category {
  padding-top: 20px;
  font-size: 20px;
  text-transform: capitalize;
}
.amazing-work-gallery-item.hidden {
  display: none;
}

.button.more-photo::before {
  content: "+";
  padding-right: 15px;
  vertical-align: sub;
  font-size: 26px;
}
.breaking-news-title {
  padding: 85px 0 35px 0;
  font-size: 36px;
  color: #4e4e4e;
}
.news-img-container {
  margin: 70px 0 130px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.breaking-news-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  width: 265px;
  text-decoration: none;
  position: relative;
  color: inherit;
}
.breaking-news-data {
  padding: 15px 20px;
  width: 66px;
  height: 68px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #203e38;
  font-size: 17px;
  color: #ffffff;
}
.breaking-news-data:hover {
    background-color: #18cfab;
}
.breaking-news-img {
  height: 210px;
}
.breaking-news-info {
  padding: 0 15px 12px;
  background-color: #f8fcfe;
  box-sizing: border-box;
  border: 1px solid #f1f3f4;
}
.breaking-news-info-title {
  padding: 14px 0;
  font-size: 19px;
  font-weight: 700;
  color: #717171;
}
.breaking-news-info-title:hover {
  color: #18cfab;
}
.breaking-news-info-subtitle {
  color: #777777;
}
.presentation {
  padding: 105px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/section-3.jpg);
  color: #a3a7a8;
  font-size: 16px;
}
.presentation.paralax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.presentation-title {
  padding-bottom: 30px;
  text-align: center;
  font-size: 36px;
  color: #ffffff;
}
.presentation-slider {
  margin-top: 70px;
}
.img-brackets {
  width: 45px;
}
.presentation-wrapper {
  position: relative;
  height: 425px;
  width: 100%;
}
.presentation-user-slider.active {
  opacity: 1;
  transition: 1s;
  animation: show 3s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.presentation-user-slider {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.presentation-slider-text {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation-user-info {
  margin-bottom: 50px;
}
.presentation-user-name {
  padding-bottom: 15px;
  font-size: 20px;
  color: #18cfab;
  font-weight: 700;
  text-transform: uppercase;
}
.presentation-user-profession {
  padding-bottom: 35px;
}
.presentation-user-foto-big {
  display: inline-block;
  margin-bottom: 70px;
  height: 145px;
  width: 145px;
  box-sizing: border-box;
  border: 2px solid #18cfab;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #18cfab50;
  overflow: hidden;
}
.presentation-user-foto {
  height: auto;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.slider-block {
  display: flex;
  padding-top: 50px;
  margin: 0 auto;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  user-select: none;
}
.go-left,
.go-right {
  width: 30px;
  height: 30px;
  top: 16px;
  box-sizing: border-box;
  border: 1px solid #969a9c;
  color: #969a9c;
  font-size: 18px;
  line-height: 30px;
}

.go-left:hover,
.go-right:hover {
  background-color: #18cfab;
}
.slider-wrapper {
  display: flex;
  width: 370px;
  justify-content: space-between;
}
.small-user-foto {
  position: relative;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #18cfab50;
  overflow: hidden;
  cursor: pointer;
}
.presentation-user-foto {
  height: auto;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.gallery {
  padding-top: 108px;
  padding-bottom: 70px;
}
.gallery-title {
  align-items: center;
  padding-bottom: 30px;
  text-align: center;
  font-size: 36px;
  color: #4e4e4e;
}
.grid-gallery-block {
  padding-top: 70px;
}
.grid-gallery-images {
  position: relative;
  height: 950px;
  padding-bottom: 50px;
}
.grid-gallery-elem {
  position: absolute;
  top: 0px;
  padding-bottom: 21px;
}
.grid-gallery-elem.one {
  left: 0px;
}
.grid-gallery-elem.two {
  left: 391px;
}
.grid-gallery-elem.three {
  left: 782px;
}
.grid-gallery-elem.four {
  left: 782px;
  top: 189px;
}
.grid-gallery-elem.five {
  left: 0px;
  top: 281px;
}
.grid-gallery-elem.six {
  left: 391px;
  top: 401px;
}
.grid-gallery-elem.seven {
  left: 782px;
  top: 492px;
}
.grid-gallery-elem.eight {
  left: 0px;
  top: 562px;
}
.grid-gallery-elem.nine {
  left: 391px;
  top: 669px;
}
.footer-section {
  background-color: #22353f;
}
.footer-text {
  padding: 47px 0;
  text-align: center;
  color: #aeaeae;
}
.footer-colortext {
  color: #18cfab;
  text-decoration: none;
}
